body {
	margin: 0;
	padding: 1em;
	box-sizing: border-box;
	display: flex;
	height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #fff;
	font-family: arial, sans-serif;
	background: rgb(44, 39, 120);
	background: linear-gradient(
		162deg,
		rgba(44, 39, 120, 1) 0%,
		rgba(6, 207, 177, 1) 100%
	);
	color: white;
}

.login-container {
	max-width: 325px;
	height: 325px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: white;
	padding: 80px;
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.heading-title {
	text-align: center;
	font-size: 28px;
	font-weight: 800;
	margin: 0;
	padding: 0;
}

form {
	display: flex;
	flex-direction: column;
	position: relative;
}

.label {
	font-weight: 500;
	font-size: 18px;
}

.input {
	margin-top: 5px;
	margin-bottom: 20px;
	padding: 8px;
	font-size: 16px;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.toggle-password-button {
	color: white;
}

.password-constraints {
	padding-bottom: 15px;
	font-size: 14px;
}

.submit-button {
	padding: 8px;
	font-size: 16px;
	font-weight: 600;
	border: none;
	border-radius: 5px;
}

/* Show password button */

button#toggle-password {
	background: none;
	border: none;
	cursor: pointer;
	/* Media query isn't shown here. */
	font-size: var(--mobile-font-size);
	font-weight: 300;
	padding: 0;
	/* Display at the top right of the container */
	position: absolute;
	right: 0;
}
